<aside>
    <h2 class="text-center w-100">Eq 2G</h2>
    <div class="hrr">
        <hr />
    </div>
    <div class="text-center w-100 c-w">
        <u>
            <NavLink class="c-w nav-link" href="/Solucion" style="color: white !important;">Soluciones de<br />la ecuación</NavLink>
        </u>
    </div>
    <div class="text-center w-100 c-w">
        <u>
            <NavLink class="c-w nav-link" href="/Tabla" style="color: white !important;">Tabla de<br />valores</NavLink>
        </u>
    </div>
    <div class="text-center w-100 c-w">
        <u>
            <NavLink class="c-w nav-link" href="/Derivada" style="color: white !important;">Cálculo de<br />derivadas</NavLink>
        </u>
    </div>
    <div class="hm w-100 text-center">
        <NavLink href="" style="color: white !important;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="53.85" viewBox="0 0 50 53.85">
                <path id="Path_1" data-name="Path 1" d="M20.731,52.926V39.445a2.066,2.066,0,0,1,1.923-1.9h7.692a2.068,2.068,0,0,1,1.923,1.923V52.926a1.923,1.923,0,0,0,1.923,1.923H49.577A1.923,1.923,0,0,0,51.5,52.926V26a1.923,1.923,0,0,0-.562-1.362l-5.208-5.2V6.772a1.923,1.923,0,0,0-1.923-1.923H39.962a1.923,1.923,0,0,0-1.923,1.923v4.973L27.862,1.564a1.923,1.923,0,0,0-2.723,0L2.062,24.641A1.923,1.923,0,0,0,1.5,26V52.926a1.923,1.923,0,0,0,1.923,1.923H18.808A1.923,1.923,0,0,0,20.731,52.926Z" transform="translate(-1.5 -0.999)" fill="#fff" />
            </svg>
        </NavLink>
    </div>
</aside>

@code {

}
