<header class="container-fluid">
    <div class="row justify-content-center h-100 align-items-center">
        <h3 class="col-11">Taller Soa Aplicaciones Distribuidas.</h3>
    </div>
</header>

@code {

}
