@inherits LayoutComponentBase

<div class="page">
    <AsideMenu></AsideMenu>

    <div class="main">
        <HeaderTittle></HeaderTittle>
        <main>
            @Body
        </main>
    </div>
</div>


