@page "/"
@inject NavigationManager NavigationManager

<article class="container-fluid">
    <section class="row justify-content-center align-items-center">
        <button class="col-2 btn" @onclick="@(e => NavTo("/Solucion"))">Soluciones de<br />la ecuación</button>
        <button class="col-2 offset-1 btn" @onclick="@(e => NavTo("/Tabla"))">Tabla de<br />valores</button>
        <button class="col-2 offset-1 btn" @onclick="@(e => NavTo("/Derivada"))">Cálculo de<br />derivadas</button>
    </section>
</article>

@code {
    private void NavTo(string uri)
    {
        NavigationManager.NavigateTo(uri);
    }
}